.logo{
    width: 48px;
    height: 34px;
    margin-top: 15px;
    margin-left: 10px;
}
  
     
 

.logo img{
    width: 34px;
    height: 34px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}

 